<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gennady9.idf.logo.quiz"
    android:versionCode="4"
    android:versionName="1.3">


    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/idf_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.gennady9.idf.logo.quiz.MainActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.google.com" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gennady9.idf.logo.quiz.SubjectMenu"
            android:configChanges="orientation"
            android:label="@string/title_activity_subject_menu"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gennady9.idf.logo.quiz.MainActivity" />
        </activity>
        <activity
            android:name="com.gennady9.idf.logo.quiz.ImageDisplay"
            android:label="@string/title_activity_image_display"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.gennady9.idf.logo.quiz.AppInfo"
            android:label="@string/title_activity_app_info"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gennady9.idf.logo.quiz.MainActivity" />
        </activity>
        <activity
            android:name="com.gennady9.idf.logo.quiz.GridDisplay"
            android:label="@string/title_activity_ngrid_display">

        </activity>
    </application>

</manifest>

    <!--android:parentActivityName="com.gennady9.idf.logo.quiz.SubjectMenu">-->